/*This url import allows me to use fonts from google fonts on my website*/
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Datatype:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap");

body {
  background-color: red;
  color: white;
}
/*This section will fill the entire screen, and everything inside the section will be aligned at the center*/
.Profile {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bitcount Prop Double;
}
/*aligns everything at the center*/
#IntroductionParagraph {
  display: flex;
  margin: auto;
}
/*This is so the elements inside have a restricted fill area, and aligned in a visually pleasing way*/
#ProfilePicContainer {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin-top: 2rem;
  margin-right: 3rem;
}
/*This is so the elements inside have a restricted fill area, and aligned in a visually pleasing way*/
#IntroInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  align-items: center;
  justify-content: center;
}
/* This makes it so that this div will fill 90% of .Profile, 
and the elements inside it will be laid out in a row instead of a column*/
#ProfileArea {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 3rem;
}

h2 {
  margin-top: 5rem;
}

#Yap {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}

#ExperimentContainer {
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2rem;
  font-family: Bitcount Prop Double;
}

#ExperimentLinks {
  font-size: 1.25rem;
  font-family: Datatype;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#ProjectSpeculation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: black;
  border-radius: 3rem;
  margin-bottom: 3rem;
}
h4 {
  font-size: 2rem;
  font-family: Bitcount Prop Double;
  margin-top: 3rem;
}

h5 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-family: Datatype;
  margin-top: 3rem;
  margin-left: 3rem;
}

#SpeculationParagraph {
  font-size: 1.07rem;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

a {
  color: cyan;
}

#Experiment {
  color: blue;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 20rem;
  text-align: center;
}
