
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');


body {
  background-color: red;
  color: white;
}

.Profile {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bitcount Prop Double;
}

#IntroductionParagraph {
  display: flex;
  margin: auto;
}

#ProfilePicContainer {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin-top: 2rem;
  margin-right: 3rem;
}

#IntroInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  align-items: center;
  justify-content: center;
}

#ProfileArea {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 3rem;
}


h2 {
  margin-top: 5rem;
}
