#ClickButton {
    width: 5rem;
}

#ClickButtonContainer {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#ClickButton:hover {
    cursor: no-drop;
}

#ClickButton:active {
    width: 10rem;
}

h1 {
    display: flex;
    justify-content: center;
}

